<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <script src="{% static 'js/jquery-3.6.1.slim.min.js' %}"></script>
    {% block custom_css %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    <!--  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>-->
</head>
<body>
<section class="hero is-info">
    <div class="hero-head">
        {% include 'shorturlsapp/navbar.html' %}
        {% block index %}{% endblock %}
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">{% block main_title %}{% endblock %}</p>
                <p class="subtitle">{% block sub_title %}{% endblock %}</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</section>
{% block scripts %}
{% endblock %}
</body>
</html>