{% extends 'shorturlsapp/base.html' %}
{% block title %}Pond Meters{% endblock %}
{% load humanize %}
{% block main_title %}Stats for: {{name}}{% endblock %}
{% block content %}
{% load pondtemp_filter %}
{% include 'shorturlsapp/pagination.html' with pagination=pagination %}
<div class="table-container">
    <table class="table tables-bordered is-striped is-narrow is-hoverable">
        <thead>
        <tr>
            <th  class="is-narrow"><abbr title="Position">Pos</abbr></th>
            <th style="width: 10%;"><abbr title="Date">Date</abbr></th>
            <th style="width: 10%;"><abbr title="">Size</abbr></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th><abbr title="Position">Pos</abbr></th>
            <th><abbr title="Date">Date</abbr></th>
            <th><abbr title="">Size</abbr></th>
        </tr>
        </tfoot>
        <tbody>
        {% for o in data %}
        <tr>
            <th>{{forloop.counter}}</th>
            <td><a href="{% url 'camsdetailes'  %}?q=showfolderfiles&folder={{name}}&subfolder={{data|cam_item:o}}" title={{data|cam_item:o}}><strong>{{data|cam_item:o}}</strong></a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'shorturlsapp/pagination.html' with pagination=pagination %}
{% endblock %}