{% extends 'shorturlsapp/base.html' %}
{% block title %}Home{% endblock %}
{% load humanize %}
{% block sub_title %}Article title: <strong>{{post.title}}</strong>{% endblock %}

{% block content %}
<article class="media mt-5">
    <div class="media-content">
        <div class="content">
        <div class="media-left">
            {{post.text}}
        </div>
            <li>
                <small>Article is added: {{ post.created_at| naturaltime }}</small>
                <span>Author: {{post.created_by.username}}</span>
                <br>
            </li>
        </div>
    </div>
</article>
{% endblock %}